version: "2"
services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
  backend:
    build: backend
    ports:
      - "8081:8081"
    depends_on:
      - mongo
  frontend:
    build: frontend
    ports:
      - "81:80"
    volumes:
      - ./frontend:/app
